---
const projects = await Astro.glob("../../content/projects/*.{md,mdx}");
---

<section id="projects">
  <div id="project-grid">
    {
      projects.map((post) => (
        <>
          <div class="project">
            <!-- Project Left Space -->
            <div class="project-left project-space"></div>

            <!-- Project Center Space -->
            <div class="project-center project-space">
              <!-- Gallery -->
              <div class="swiper" style="max-width: 100%;">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      src={post.frontmatter.heroImage}
                      style="width: 400px;"
                    />
                  </div>
                  <div
                    class="swiper-slide project-long-text"
                    style={{ background: post.frontmatter.project_color }}
                  >
                    {post.frontmatter.body}
                  </div>
                  <div class="swiper-slide">Slide 3</div>
                </div>

                <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
              </div>

              <!-- Project Text -->
              <div class="project-text">
                <div class="project-title">
                <h3>{post.frontmatter.title}</h3>
                <div class="year">{post.frontmatter.year}</div>
              </div>
                <p>
                  
                  {post.frontmatter.tags.map((tag) => (
    <div class="tag">{tag}</div>
  ))}</p>
              </div>
            </div>

            <!-- Project Right Space -->
            <div class="project-right project-space"></div>
          </div>
        </>
      ))
    }
  </div>
</section>
